name: Generate index.html

on:
  push:
    branches:
      - main
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install pyyaml

    - name: Generate index.html
      run: |
        python update_helm_repo.py

    - name: Commit and push changes
      run: |
        git config --global user.email "${{ secrets.GIT_USER_EMAIL }}"
        git config --global user.name "${{ secrets.GIT_USER_NAME }}"
        git add index.html
        git commit -m "Update index.html"
        git push
      env:
        GITHUB_TOKEN: ${{ secrets.MY_GITHUB_PAT }}
